{% extends "public/index.html" %}

{% block main %}

<section id="Display">
  <div class="title">
    <h1>Your Input Images:</h1>
  </div>
  <div class="list">

    {% for x in lst_imgs %}

    <div class="box">
      <div class="display-img">
        <img src="{{ x }}" class="list-img">
      </div>
    </div>
    {% endfor %}

  </div>

  <a class="cta stitch" onclick="$('#stitching').trigger('click');">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Stitching
  </a>

  <form action="stitch" method="post">
    <input type="text" name="checked" value="stitch" hidden>
    <input type="submit" name="stitch" id="stitching" hidden>
  </form>

</section>


{% endblock %}
